@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Mulish";
    font-weight: 650;
    color: white
}

header{
    background-color: rgb(111, 162, 255);
    display: flex;
    justify-content: center;
}

.header img{
    margin-left: 10px;
    position: relative;
    top: 10px;
}

header, footer{
    padding: 5px;
}

.header button:active{
    background-color: rgb(120, 154, 206);
}

.header a button{
    border: solid white 5px;
    background-color: rgb(84, 138, 255);
    padding: 20px 35px;
    position: relative;
    bottom: 30px;
    left: 15px;
    font-size: 15px;
}

.footer{
    background-color: rgb(111, 162, 255);
    padding: 5px;
}

.cright{
    text-align: center;
}

main{
    background-color: rgb(111, 162, 255);
    margin-top: 5px;
    padding: 30px;
}

.main{
    background-color: rgb(84, 139, 240);
    padding: 10px;

}

.image2, .image5, .image8{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    position: relative;
    left: 10%;
}

.image3, .image4, .image6{
    display: flex;
    justify-content: right;
    margin-top: 10px;
    position: relative;
    bottom: 1242px;
    right: 10%;
}

.image1, .image7{
    display: flex;
    justify-content: center;
}

.image7{
    position: relative;
    bottom: 1470px;
    display: flex;
    justify-content: left;
}

b{
    font-weight: 900;
}
.main2{
    text-align: center;
}

.main3{
    font-size: 25px;
}